name: Deploy Jekyll site to Pages

on:
  # Ejecutar en push a la rama main
  push:
    branches: ["main"]
  
  # Permitir ejecución manual desde la pestaña Actions
  workflow_dispatch:

# Permisos necesarios para deployar a GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Permitir solo un deploy concurrente
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Job de build
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
          bundler-cache: true # ejecuta 'bundle install' y cachea las gemas
      
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v4
      
      - name: Build with Jekyll
        # Usa el baseurl configurado en Pages
        run: bundle exec jekyll build --baseurl "${{ steps.pages.outputs.base_path }}"
        env:
          JEKYLL_ENV: production
      
      - name: Upload artifact
        # Sube automáticamente el directorio _site
        uses: actions/upload-pages-artifact@v3

  # Job de deploy
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
